.projects-container {
    margin-top: 144px;
}

.projects-container section {
    height: calc(100vh - 144px);
    padding-bottom: 144px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    scroll-snap-align: end;
    perspective: 500px;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;

    @media (max-width: 1024px) {
        padding-bottom: 0px;
    }
}

.projects-container h2 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;

    @media (max-width: 768px) {
        font-size: 36px;
        letter-spacing: -2px;
    }
}

.projects-container p {
    font-size: 1.25em;
    font-weight: 400;
    white-space: pre-wrap;

    @media (max-width: 768px) {
        font-size: 1.1em;
    }
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: white;
    bottom: 0;
}